<form action="/employee/add" method="post">
    <input type="text" name="name" placeholder="Enter your name" required>
    <input type="text" name="age" placeholder="Enter your age" required>
    <input type="text" name="salary" placeholder="Enter your salary" required>
    <input type="text" name="role" placeholder="Enter your role" required>
    <input type="submit" value="submit" value="Download" style="margin:0 auto; background-color: blue; color:white" 
    onmouseover="this.style.backgroundColor = 'red';"
    onmouseout="this.style.backgroundColor = 'blue';">
</form>

<a href="/download" value="Download" style="display:inline-block; margin:0 auto; background-color: blue; color:white; text-decoration:none; border:1px solid black;" 
onmouseover="this.style.backgroundColor = 'red';"
onmouseout="this.style.backgroundColor = 'blue';">Download csv for all employees</a>